<div class="overlay" *ngIf="showModal">
  <div class="modal">
    <h2>Create Strategy</h2>
    <p>Log in to access your account and continue where you left off.</p>
    <form>
      <div class="form-group">
        <label for="strategy-name">Strategy name</label>
        <input
          type="text"
          id="strategy-name"
          placeholder="Ex: Prime Yield"
          [(ngModel)]="strategyName"
          name="strategyName"
        />
      </div>
      <div class="form-group">
        <label for="strategy-description">Strategy description</label>
        <input
          type="text"
          id="strategy-description"
          placeholder="Ex: A balanced mix of high-growth equities...."
          [(ngModel)]="strategyDescription"
          name="strategyDescription"
        />
      </div>
      <div class="buttons">
        <button type="button" class="save-button" (click)="saveAndAssign()">Save and assign</button>
        <button mat-button type="button" class="cancel-button" (click)="closeDialog('cancel')">Cancel</button>
      </div>
    </form>
  </div>
</div>

  